body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #F1F5F9;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.btn {
    text-decoration: none;
    border-radius: 15px;

}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 85px;
    background-color: #0F172A;
    position: fixed;
    top: 0;
    z-index: 100;
    font-family: 'Orbitron', sans-serif;
    padding-top: 20px;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 17px;
}

.Home {
    display: flex;
    width: 55px;
    height: 55px;
    line-height: 65px;
    padding: 10px;
    margin-left: 20px;
    background-color: #3B82F6;
    background-size: cover;
    background-position: center;
}

.Home img {
    flex: auto;
}


.header-menu {
    display: flex;
    justify-content: center;
    padding-top: -10px;
}

.header-menu li {
    display: flex;
    padding-left: 30px;
    align-items: center;
}

.header-menu a {
    color: #E2E8F0;
    font-size: 24px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    padding-left: 55px;
    margin-bottom: 17px; 
}

.login {
    flex: auto;
    font-size: 24px;
    color: #E2E8F0;
    margin-right: 20px;
    background-color: #06B6D4;
    padding: 20px 8px;  
    box-shadow: 0 7px gray;
}


.login:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #1e2c4b;
}

.top-wrapper {
    width: 100%;
    height: 500px;
    background-color: #1e2c4b; 
    background-image : url("");
    margin-top: 85px;
    text-align: center;
}

h1 {
    margin: 0 auto;
    font-size: 48px;
    color: #E2E8F0;
}

@keyframes glow {
    from { text-shadow: 0 0 5px #E2E8F0; }
    to   { text-shadow: 0 0 25px #0bc5de; }
}

.neon-text {
    animation: glow 1.5s ease-in-out infinite alternate;
    font-family: 'Orbitron', sans-serif;
}


.App-wrapper {
    width: 100%;
    height: 1200px;
    background-color: #1e2c4b; 
    color: #1e2c4b;
    flex: auto;
    text-align: center
}

.colorApp {
    background-color: #E2E8F0;
    display: inline-block;
    padding: 0px 50px 50px 50px;
    border-radius: 15px;
}

.App-wrapper p {
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
}

.PickBox {
    width: 150px;
    height: 30px;
}
